* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, .8) !important;
}

#app {
  position: relative;
  width: 100vw;
  min-width: 375px;
  max-width: 430px;
  min-height: 100vh;
  background-color: #4b5563;
  box-shadow: 0 0 50px rgba(0, 0, 0, .5);
}

::-webkit-scrollbar{
  display: none;
}